build/*
*.exe
*.stackdump
*.log
*.png
*.csv
*.eps
log/*
out/*
map/*
!.gitkeep
flo
gos
pro
mapmake
node_modules
dataset/*.txt
dataset/data/*.txt
dataset/result/*.txt
dataset/result_count/*.txt
dataset/words.json
*.txt